:root {
    --azul1: #7BD5F5;
    --azul2: #787FF6;
    --azul3: #4ADEDE;
    --azul4: #1CA7EC;
    --azul5: #1F2F98;
    --verde1: #205072;
    --verde2: #329D9C;
    --verde3: #56C596;
    --verde4: #7BE495;
    --verde5: #CFF4D2;
    --verde6: #235D3A;
    --verde7: #397D54;
    --verde8: #73C088;
    --verde9: #A8E0B7;
    --verde10: #C8EAD1;
    --pastel1: #FF7B89;
    --pastel2: #8A5082;
    --pastel3: #6F5F90;
    --pastel4: #758EB7;
    --pastel5: #A5CAD2;
    --pastel6: #C73866;
    --pastel7: #FE676E;
    --pastel8: #FD8F52;
    --pastel9: #FFBD71;
    --pastel10: #FFDCA2;
    --rojo1: #670F22;
    --rojo2: #6A041A;
    --rojo3: #9A0526;
    --rojo4: #AB0D2F;
    --rojo5: #CD0C36;
}