:root {
    --azul1: #7BD5F5;
    --azul2: #787FF6;
    --azul3: #4ADEDE;
    --azul4: #1CA7EC;
    --azul5: #1F2F98;
    --verde1: #205072;
    --verde2: #329D9C;
    --verde3: #56C596;
    --verde4: #7BE495;
    --verde5: #CFF4D2;
    --verde6: #235D3A;
    --verde7: #397D54;
    --verde8: #73C088;
    --verde9: #A8E0B7;
    --verde10: #C8EAD1;
    --pastel1: #FF7B89;
    --pastel2: #8A5082;
    --pastel3: #6F5F90;
    --pastel4: #758EB7;
    --pastel5: #A5CAD2;
    --pastel6: #C73866;
    --pastel7: #FE676E;
    --pastel8: #FD8F52;
    --pastel9: #FFBD71;
    --pastel10: #FFDCA2;
    --rojo1: #670F22;
    --rojo2: #6A041A;
    --rojo3: #9A0526;
    --rojo4: #AB0D2F;
    --rojo5: #CD0C36;
}

body {
  background: white;
}

input , select{
  font-weight: 90 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

/* --------- ESTILOS DEL LOGIN --------- */

.img-login{
    height: 100px;
}

.login{
    border-radius: 3%;
}

.form-light{
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0%;
}

.btn-login{
  background-color: var(--azul4);
  color: whitesmoke;
}


.btn-login:hover{
  background-color: var(--verde2);
  color: white;
}

.small-2{
  font-size: 13px;
}

.body-inicio{
  background: url('../img/prueba1.png') no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
}

.bg-white{
  background: white;
}


.img-usuario-inicio{
  height: 65px;
}

.img-icon{
    height: 30px;
}

.nombre-usuario{
    text-decoration: none !important;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }
  #mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
  }
  #mainNav .navbar-brand {
    color: #ffc800;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
  #mainNav .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: #fff;
    letter-spacing: 0.0625em;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--azul1);
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      border: none;
      background-color: transparent;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
      height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
}
header.masthead {
    padding-top: 10.5rem;
    text-align: center;
    color: #fff;
    background-image: url("../img/navbarDefecto.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  header.masthead .masthead-subheading {
    font-style: italic;
    line-height: 1.5rem;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  @media (min-width: 768px) {
    header.masthead .masthead-subheading {
      font-size: 2.25rem;
      font-style: italic;
      line-height: 2.25rem;
      margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-bottom: 4rem;
    }
  }

  .border-left-primary {
    border-left: 0.25rem solid var(--azul2) !important;
  }


  .border-left-success{
    border-left: 0.25rem solid #56C596 !important;
  }

  .border-left-danger{
    border-left: 0.25rem solid var(--rojo4) !important;
  }

  .borde-inicio{
    border-radius: 3%;
  }

  .bg-barra-azul{
    background-color: var(--azul4);
  }

  .bg-barra-azul{
    background-color: var(--verde3);
  }

  .bg-barra-rojo{
    background-color: var(--rojo5);
  }

  .btn-flotante {
    color: #ffffff;
    border-radius: 100%;
    background-color: var(--verde8); /* Color de fondo */
    padding: 15px;
    position: fixed;
    bottom: 550px;
    right: 30px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  .btn-flotante:hover {
    background-color: var(--verde7) ; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
    color: white;
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante {
      font-size: 14px;
      padding: 15px;
      bottom: 85px;
      right: 20px;
    }
  }

  .btn-flotante-vista{
    color: #ffffff;
    border-radius: 100%;
    background-color: var(--azul4); /* Color de fondo */
    padding: 15px;
    position: fixed;
    bottom: 470px;
    right: 30px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  .btn-flotante-vista:hover {
    background-color: var(--verde7) ; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
    color: white;
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante-vista {
      font-size: 14px;
      padding: 15px;
      bottom: 20px;
      right: 20px;
    }
  }

  .btn-cerrar{
    background-color: var(--pastel4);
    color: white;
  }

  .btn-cerrar:hover{
    background-color: var(--pastel3);
    color: white;
  }

  .card-alumno{
    transition: all 0.3s;
  }

  .card-alumno:hover{
    scale: 1.03;
  }

  .img-estudiante-perfil{
    height: 110px;
  }

  .small-2{
    font-size: 20px !important;
  }

  .bg-verde{
    background-color: var(--verde3);
    color: white;
  }

  .bg-verde:hover{
    color: white;
    background-color: var(--verde2);
  }

  .bg-azul{
    background-color: var(--azul2);
    color: white;
  }

  .bg-azul:hover{
    color: white;
    background-color: var(--pastel3);
  }

  .bg-azul2{
    background-color: var(--azul4);
    color: white;
  }

  .bg-azul2:hover{
    background-color: var(--pastel2);
    color: white;
  }

  .bg-rojo{
    background-color: var(--pastel6);
    color: white;

  }

  .bg-rojo:hover{
    background-color: var(--rojo3);
    color: white;

  }

  .bg-amarillo{
    background-color: var(--pastel9);
    color: white;

  }

  .bg-amarillo:hover{
    background-color: var(--pastel7);
    color: white;

  }

  .text-small{
    font-size: 17px !important;
  }

  .file-select {
    position: relative;
    display: inline-block;
  }

  .file-select::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 40px;
    display: inline-block;
  }
  
  #btn_evidencia::before {
    content: 'Subir Evidencia';
  }

  
  #btn_mooc::before {
    content: 'Subir MOOC';
  }

  .col-centrada{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .form-tabla{
    border: none;
    background-color: white;
    text-align: center;
  }

  .modal-header{
    border-bottom: none !important;
  }

  .modal-footer{
    border-top: none !important;
  }

  .modal{
    border-radius: 10% !important;
  }

  .bg-gris{
    background-color: var(--verde8) !important;
    color: rgb(255, 255, 255) !important;
  }

  .img-logo-nav{
    height: 50%;
    transition: all 0.3s;
  }

  .sgx{
    display: none;
  }

  .img-sgx-inicio{
    height: 65px;
  }

  .tec{
    display: none;
  }

  @media only screen and (max-width: 1200px) {
    .img-logo-nav{
      height: 40px;
      margin-left: 100px;
    }
  }

  @media only screen and (max-width: 1300px) {
    .img-logo-nav{
      height: 40px;
      margin-left: 100px;
      margin-top: 20px;
    }
  }

  @media only screen and (max-width: 1100px) {
    .img-logo-nav{
      height: 30px;
      margin-left: 100px;
      margin-top: 20px;
    }
  }

  @media only screen and (max-width: 1000px){
    header.masthead {
      padding-top: 10.5rem;
      text-align: center;
      color: #fff;
      background-image: none;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
    }

    .navbar{
      background-color: rgb(20, 140, 45) !important;
    }

    .sgx{
      display: block; 
    }

    .img-sgx-inicio{
      height: 45px;
    }

    .tec{
      display: block;
      font-size: 30px;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }

  @media only screen and (max-width: 500px){
    .sgx{
      display: block;
    }

    .tec{
      display: block;
      font-size: 18px;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .img-sgx-inicio{
      height: 30px;
    }

    .logo-nav{
      display: none;
    }

    .img-usuario-inicio{
      height: 40px;
    }
  }

  @media only screen and (max-width: 820px){
    .sgx{
      display: block;
    }

    .tec{
      display: block;
      font-size: 18px;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .img-sgx-inicio{
      height: 30px;
    }

    .logo-nav{
      display: none;
    }

    .img-usuario-inicio{
      height: 40px;
    }
  }

  @media only screen and (max-width: 400px){
    .sgx{
      display: block;
    }

    .tec{
      display: block;
      font-size: 12px;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .img-sgx-inicio{
      height: 22px;
    }

    .logo-nav{
      display: none;
    }

    .img-usuario-inicio{
      height: 40px;
    }
  }

  .img-evidencia{
    height: 500px;
  }


